$primary-color: #e88a1a;
$secondary-color: #141414;
$tertiary-color: #cf3030;
$quaternary-color: #d9d9d9;

* {
  color: $secondary-color;
  font-family: "Amatic SC", cursive;
  font-size: 28px;
  font-weight: 900;
}

html {
  min-height: 100vh;
}

body {
  background-image: radial-gradient($primary-color, $tertiary-color);
}

.App {
  text-align: center;
}

.scare-the-crow-header {
  font-family: "Creepster", cursive;
  font-size: 58px;
  margin: 0;
  text-shadow: 1px 1px 15px $quaternary-color;
}
