@import "../App/App.scss";

input {
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 4px solid black;
}

.scarecrow {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .scarecrow {
    width: 30%;
  }
}

@media screen and (max-width: 320px) {
  .scarecrow {
    width: 40%;
  }
}

.hp-text {
  font-size: 42px;
  font-weight: 900;
  margin: 0;
}

.score-text,
.high-score-text,
.incorrect-guesses-text {
  margin: 0;
}
