@import "../App/App.scss";

input {
  padding-left: 10px;
  margin-left: 10px;
}

.hp-text {
  font-size: 32px;
}

.new-game-button-container {
  margin-top: 20px;

  button {
    border-radius: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}
